<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="administratorUser" value="MrAdministrator"/>
    <add key="administratorPassword" value="SuperSecretPassword"/>
    <add key="ClientId" value="IntegrationTests"/>
    <add key="ClientSecret" value="VerySecretiveSecret"/>
    <add key="easilogApiUrl" value="https://localhost:1234"/>
    <add key="AuthorisationServiceUrl" value="https://localhost:1234"/>
  </appSettings>
</configuration>